@model Restaurant.ViewModels.MasterItemMenuModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="card-title">Create</h1>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="MasterItemMenu" asp-action="Index">MasterItemMenu</a></li>
        <li class="breadcrumb-item active"><a asp-controller="MasterItemMenu" asp-action="Create">Create</a></li>
    </ol>
</nav>
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">MasterItemMenu</h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label  asp-for="MasterCategoryMenuId" class="col-sm-12 col-form-label"></label>
                                    <select asp-for="MasterCategoryMenuId" class="form-control form-select" asp-items=@(new SelectList(ViewBag.listMasterCategoryMenu,"MasterCategoryMenuId","MasterCategoryMenuName"))></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MasterItemMenuTitle" class="col-sm-12 col-form-label"></label>
                                    <input asp-for="MasterItemMenuTitle" class="form-control" />
                                    <span asp-validation-for="MasterItemMenuTitle" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MasterItemMenuBreef" class="col-sm-12 col-form-label"></label>
                                    <input asp-for="MasterItemMenuBreef" class="form-control" />
                                    <span asp-validation-for="MasterItemMenuBreef" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MasterItemMenuDesc" class="col-sm-12 col-form-label"></label>
                                    <input asp-for="MasterItemMenuDesc" class="form-control" />
                                    <span asp-validation-for="MasterItemMenuDesc" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MasterItemMenuPrice" class="col-sm-12 col-form-label"></label>
                                    <input asp-for="MasterItemMenuPrice" class="form-control" />
                                    <span asp-validation-for="MasterItemMenuPrice" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="File" class="col-sm-12 col-form-label"></label>
                                    <input asp-for="File" class="form-control" />
                                    <span asp-validation-for="File" class="text-danger"></span>
                                </div>
                                
                                <div class="form-group">
                                    <label asp-for="MasterItemMenuDate" class="col-sm-12 col-form-label"></label>
                                    <input asp-for="MasterItemMenuDate" class="form-control" />
                                    <span asp-validation-for="MasterItemMenuDate" class="text-danger"></span>
                                </div>
                               

                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>

