@model Restaurant.ViewModels.MasterOfferModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="card-title">Edit</h1>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="MasterOffer" asp-action="Index">MasterOffer</a></li>
        <li class="breadcrumb-item active"><a asp-controller="MasterOffer" asp-action="Edit">Edit</a></li>
    </ol>
</nav>
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">MasterOffer</h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="MasterOfferId" />
                                <div class="form-group">
                                    <label asp-for="MasterOfferTitle" class="col-sm-12 col-form-label"></label>
                                    <input asp-for="MasterOfferTitle" class="form-control" />
                                    <span asp-validation-for="MasterOfferTitle" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MasterOfferBreef" class="col-sm-12 col-form-label"></label>
                                    <input asp-for="MasterOfferBreef" class="form-control" />
                                    <span asp-validation-for="MasterOfferBreef" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MasterOfferDesc" class="col-sm-12 col-form-label"></label>
                                    <input asp-for="MasterOfferDesc" class="form-control" />
                                    <span asp-validation-for="MasterOfferDesc" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="File" class="col-sm-12 col-form-label"></label>
                                    <input asp-for="File" class="form-control" />
                                    <span asp-validation-for="File" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MasterOfferImageUrl" class="col-sm-12 col-form-label" hidden="hidden"></label>
                                    <input asp-for="MasterOfferImageUrl" class="form-control" hidden="hidden" />
                                    <span asp-validation-for="MasterOfferImageUrl" class="text-danger" hidden="hidden"> </span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MasterOfferImageUrl" class="col-sm-12 col-form-label"></label>
                                    <img src="~/Images/MasterOffer/@Model.MasterOfferImageUrl" style="max-width:50px" />
                                </div>
                                <div class="form-group form-check">
                                    <label class="col-sm-12 col-form-label">
                                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                    </label>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>

