@model Restaurant.Models.TransactionNewsletter

@{
    ViewData["Title"] = "Edit";
}

<h1 class="card-title">Edit</h1>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="TransactionNewsletter" asp-action="Index">TransactionNewsletter</a></li>
        <li class="breadcrumb-item active"><a asp-controller="TransactionNewsletter" asp-action="Edit">Edit</a></li>
    </ol>
</nav>
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">TransactionNewsletter</h5>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="TransactionNewsletterId" />
                                <div class="form-group">
                                    <label asp-for="TransactionNewsletterEmail" class="col-sm-12 col-form-label"></label>
                                    <input asp-for="TransactionNewsletterEmail" class="form-control" />
                                    <span asp-validation-for="TransactionNewsletterEmail" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="col-sm-12 col-form-label">
                                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                    </label>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <a asp-action="Index">Back to List</a>
</div>

